<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>404</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <form th:if="${#httpServletRequest.remoteUser}" style="width: 100%; text-align: left;color: #292929;background: #efefef; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2)" 
            th:action="@{/logout}" 
            method="post">
            <input class="hidden" type="submit" id="logout"/>
            <label class="button-label" style="width: 20%" for="logout">
                Log out
            </label>
        </form>
        <h1>Page not found!</h1>
       
        <div th:if="${#httpServletRequest.remoteUser}">
            <a class="button-label" href="/HelpDesk/ticket/">return to ticket list</a>
        </div>
       <link th:href="@{/static/helpDesk/css/style.css}" rel="stylesheet"/>
    </body>
</html>
