<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      ng-app="ticketsApp" ng-controller="EditController as ctrl">
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <form th:if="${#httpServletRequest.remoteUser}" style="width: 100%; text-align: left;color: #292929;background: #efefef; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2)" 
            th:action="@{/logout}" 
            method="post">
            <input class="hidden" type="submit" id="logout"/>
            <label class="button-label" style="width: 20%" for="logout">
                Log out
            </label>
        </form>
        <div class="container login-container" >
            <div style="width: 20%; float: left">
                <div class="button-wrap">
                    <a class="button-label" style="width: 80%" href="/HelpDesk/ticket/">Ticket list</a>
                </div>
            </div>
            <h1 style="text-align: center">{{title}}</h1>
            <form name="editForm">
                <div class="login-input-wrap">
                    <label class="input-label" for="category">  Category:</label>    
                    <select name="category" id="category" class="my-input" 
                            ng-model="edition.ticket.category" required
                            ng-options="option.id as option.name for option in edition.categories">
                    </select> 
                </div>
                <div class="login-input-wrap">
                    <label class="input-label" for="name">  Name:</label>    
                    <input type="text" name="name" id="name" class="my-input" 
                           ng-model="edition.ticket.name" 
                           ng-pattern="namePattern" required/>
                </div>
                <div class="login-input-wrap">
                    <label class="input-label" for="description">  Description:</label>
                    <div class="my-div">
                        <textarea name="description" id="description" class="my-input" 
                                  ng-model="edition.ticket.description" 
                                  ng-pattern="textPattern"
                                  style="width: 100%">
                        </textarea>
                    </div>
                </div>
                <div class="login-input-wrap">
                    <label class="input-label" for="category">  Urgency:</label>    
                    <select name="urgency" id="urgency" class="my-input" 
                            ng-model="edition.ticket.urgency" required>
                        <option value="Critical">Critical</option>
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                    </select> 
                </div>
                <div class="login-input-wrap">
                    <label class="input-label" for="desiredDate">  Desired date:</label>    
                    <input type="date" min="{{now | date:'yyyy-MM-dd'}}" name="desiredDate" id="desiredDate" class="my-input" ng-model="desiredDate" />
                </div>
                <div class="login-input-wrap">
                    <label class="input-label" for="attachments">  Attachments:</label>    
                    <div class="my-div my-div-color" id="saved-attachments">
                        <div ng-repeat="attachment in ctrl.edition.ticket.savedAttachments">
                            <a href="/HelpDesk/api/ticket/{ticketId}/attachment/{{attachment.id}}" target="blank" download="{{attachment.name}}">
                                {{attachment.name}}
                            </a>
                            <div class="fa fa-times" ng-click="savedDelete($index)"></div>
                        </div>
                    </div>
                    <div class="my-div my-div-color" id="attachments">
                        <div ng-repeat="attachment in edition.ticket.attachments">
                         {{attachment.name}} 
                            </span>
                            <div class="fa fa-times" ng-click="newDelete($index)"/>
                        </div>
                    </div>
                </div>
                <div class="login-input-wrap">
                    <label class="input-label" for="browse-label">  Add attachment:</label>  
                    <div class="my-div">  
                        <input type="file" accept=".pdf,.docx, .doc, .png, .jpeg, .jpg" name="browse" id="browse" class="hidden" ng-model-instant onchange="angular.element(this).scope().browse(this)"/>
                        <label name="browse" for="browse" id="browse-label" class="button-label"><h1>Browse</h1></label>
                    </div>    
                </div>
            </form>
            <form name="commentForm">
                <div class="login-input-wrap">
                    <label class="input-label" for="comment">  Comment:</label>
                    <div class="my-div">
                        <textarea name="comment" id="comment" class="my-input" 
                                  ng-model="comment" 
                                  ng-pattern="textPattern"
                                  style="width: 100%">
                        </textarea>
                    </div>
                </div>
            </form>
            <div class="button-wrap">
                <input class="hidden" type="button" id="draft"
                       ng-click="save('DRAFT')"/>
                <label class="button-label" for="draft" style="width: 35%"
                       ng-show = "commentForm.$valid" >
                    <h1>Save as draft</h1>
                </label>
                <input class="hidden" type="button" id="submit" 
                       ng-click="save('NEW')"/>
                <label class="button-label" for="submit" style="width: 35%"
                       ng-show="(editForm.$valid)&&(commentForm.$valid)">
                    <h1>Submit</h1>
                </label>
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
        <script type="text/javascript" th:src="@{/static/helpDesk/js/app.js}"> </script>
        <script type="text/javascript" th:src="@{/static/helpDesk/js/controllers/edit-controller.js}"> </script>
        <script type="text/javascript" th:src="@{/static/helpDesk/js/service/ticket-service.js}"> </script>
        <script type="text/javascript" th:src="@{/static/helpDesk/js/service/url-service.js}"> </script>
        <link th:href="@{/static/helpDesk/css/style.css}" rel="stylesheet"/>
    </body>
</html>
