<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      ng-app="ticketsApp" ng-controller="FeedbackController as ctrl">
    <head>
        <title>Feedback</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <form style="width: 100%; text-align: left;color: #292929;background: #efefef; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2)" 
            th:action="@{/logout}" 
            method="post">
            <input class="hidden" type="submit" id="logout"/>
            <label class="button-label" style="width: 20%" for="logout">
                Log out
            </label>
        </form>
        <div class="container login-container" >
            <div style="width: 20%; float: left">
                <div class="button-wrap">
                    <a class="button-label" style="width: 80%" ng-click="back()">Back</a>
                </div>
            </div>
            <h1 style="text-align: center">
                Ticket ({{feedback.ticketId}}) - {{feedback.ticketName}}
            </h1>
            <p style="text-align: center; font-size: 20px" ng-show="editable">
                Please, rate your satisfaction with the solution
            </p>
            <p style="text-align: center; font-size: 20px" ng-show="!editable">
                Feedback
            </p>
            <div class="button-wrap">
                <form name="feedbackForm">
                    <input class="hidden radio-label" name="rate" type="radio"  id="one"
                           value="1"  ng-model="feedback.rate"
                           ng-disabled="!editable" ng-required="!feedback.rate"/>
                    <label class="star" for="one">

                        <span ng-show="feedback.rate == 1">&#x2605;</span>
                        <span ng-show="feedback.rate != 1">&#9734;</span>

                    </label>

                    <input class="hidden radio-label" name="rate" type="radio"  id="two"
                           value="2" ng-model="feedback.rate" 
                           ng-disabled="!editable" ng-required="!feedback.rate"/>
                    <label class="star" for="two">

                        <span ng-show="feedback.rate == 2">&#x2605;</span>
                        <span ng-show="feedback.rate != 2">&#9734;</span>

                    </label>

                    <input class="hidden radio-label" name="rate" type="radio"  id="three"
                           value="3"  ng-model="feedback.rate"
                           ng-disabled="!editable" ng-required="!feedback.rate"/>
                    <label class="star" for="three">

                        <span ng-show="feedback.rate == 3">&#x2605;</span>
                        <span ng-show="feedback.rate != 3">&#9734;</span>

                    </label>

                    <input class="hidden radio-label" rate type="radio"  id="four"
                           value="4" ng-model="feedback.rate" 
                           ng-disabled="!editable" ng-required="!feedback.rate"/>
                    <label class="star" for="four">

                        <span ng-show="feedback.rate == 4">&#x2605;</span>
                        <span ng-show="feedback.rate != 4">&#9734;</span>

                    </label>

                    <input class="hidden radio-label" name="rate" type="radio" id="five"
                           value="5" ng-model="feedback.rate"
                           ng-disabled="!editable" ng-required="!feedback.rate"/>
                    <label class="star" for="five">

                        <span ng-show="feedback.rate == 5">&#x2605;</span>
                        <span ng-show="feedback.rate != 5">&#9734;</span>

                    </label>
                    
                </div>
            
                <div class="login-input-wrap">
                   <div class="my-div">
                       <textarea class="my-input"  style="width: 100%; height: 15em"
                                 ng-model="feedback.text" ng-pattern="textPattern"
                                 ng-readonly="!editable" ></textarea>
                   </div>
                </div>
            </form>
            <div class="button-wrap" ng-show="editable && feedbackForm.$valid">
                <input class="hidden" type="button" id="new-button" ng-click="addFeedback()"/>
                <label class="button-label" for="new-button">
                    <h1>Submit</h1>
                </label>
            </div>
              
            
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>   
        <script type="text/javascript" th:src="@{/static/helpDesk/js/app.js}"> </script>
        <script type="text/javascript" th:src="@{/static/helpDesk/js/controllers/feedback-controller.js}"> </script>
        <script type="text/javascript" th:src="@{/static/helpDesk/js/service/ticket-service.js}"> </script>
        <script type="text/javascript" th:src="@{/static/helpDesk/js/service/url-service.js}"> </script>
        <link th:href="@{/static/helpDesk/css/style.css}" rel="stylesheet"/>
    </body>
</html>
