<!-- index.html -->
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8"/>
        <title>ticket</title>
    </head>
    <body>
        <form style="width: 100%; text-align: left;color: #292929;background: #efefef; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2)" 
            th:action="@{/logout}" 
            method="post">
            <input class="hidden" type="submit" id="logout"/>
            <label class="button-label" style="width: 20%" for="logout">
                Log out
            </label>
        </form>
        <div class="container" ng-app="ticketsApp" ng-controller="ListController as ctrl">
            <div sec:authorize-url="/ticket/create">
                <div class="button-wrap">
                    <a class="button-label" id="new-button" href="/HelpDesk/ticket/create">New ticket</a>
                    <!--<label class="button-label" for="new-button">
                        <h1>New ticket</h1>
                    </label>-->
                </div>
                
            </div>
            <div class="button-wrap">
              <input class="hidden radio-label" type="radio" value="" id="all-button" checked="checked" ng-model="my.my"/>

              <label class="button-label" for="all-button">

                <h1>All Tickets</h1>

              </label>
              
              <input class="hidden radio-label" type="radio" value="true" id="my-button" ng-model="my.my"/>

              <label class="button-label" for="my-button">

                  <h1>My Tickets</h1>

              </label>
            </div>
            
            <div class="input-wrap">
                <form>
                    <input type="text" class="my-input" ng-model="search" style="width: 30%"/>      
                </form>
            </div>
            
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>
                            <a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                                Id
                                <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                Name
                                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'date'; sortReverse = !sortReverse">
                                DesiredDate
                                <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'urgency'; sortReverse = !sortReverse">
                                Urgency 
                                <span ng-show="sortType == 'urgency' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'urgency' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'status'; sortReverse = !sortReverse">
                                Status
                                <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            Action
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ticket in tickets | orderBy:sort:sortReverse | filter:search | filter:my">
                        <td>{{ ticket.id }}</td>
                        <td>
                            <a href="{{ '/HelpDesk/ticket/'+ ticket.id }}">
                                {{ ticket.name }}
                            </a>
                        </td>
                        <td>{{ ticket.desiredDate }}</td>
                        <td>{{ ticket.urgency }}</td>
                        <td>{{ ticket.status }}</td>
                        <td> 
                            <button type="button" class="hidden" id="{{'act-button-' + ticket.id}}" ng-click="act(ticket.id)">{{ticket.id}}</button>
                            <label class="button-label" style="height: 100%; width: 10em;">
                                <h1>
                                    <label for="{{'act-button-' + ticket.id}}">{{action[ticket.id].action}}</label> 
                                    <div class="fa-button fa fa-caret-down" ng-click="drop(ticket.id)" style="width: 1em; height: 1em;"/>
                                </h1>
                            </label>
                            <div id="{{'myDropdown'+ticket.id}}" class="dropdown-content">
                                <div ng-repeat="action in ticket.possibleActions"> 
                                    <a ng-click="select(action, ticket.id)" >{{action.action}}</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
        <script type="text/javascript" th:src="@{/static/helpDesk/js/app.js}"> </script>
        <script type="text/javascript" th:src="@{/static/helpDesk/js/controllers/list-controller.js}"> </script>
        <script type="text/javascript" th:src="@{/static/helpDesk/js/service/ticket-service.js}"> </script>
        <script type="text/javascript" th:src="@{/static/helpDesk/js/service/url-service.js}"> </script>
        <link th:href="@{/static/helpDesk/css/style.css}" rel="stylesheet"/>
    </body>
</html>