<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title> Login </title>
    </head>
    <body>
        <div class="container login-container">
            <h1 style="text-align: center"> Login to Help Desk </h1> 
            <p th:if="${param.error}">
                Invalid username and password! 
            </p>
            <p th:if="${param.msg}">
                You've been logged out successfully.  
            </p>
            <form th:action="@{/login}" method="POST"> 
                
                <div class="login-input-wrap">
                    <label class="input-label" for="username"> User Name: </label> 
                    <input class="my-input" type="text" name="username" id="username"/>
                </div>
                 
                <div class="login-input-wrap">
                    <label class="input-label" for="password">  Password:</label>    
                    <input  type="password" name="password" id="password" class="my-input"/> 
                </div>
                <div class="button-wrap">
                    <input class="hidden" type="submit" id="login"/>
                    <label class="button-label" for="login" style="width: 35%">
                        <h1>Enter</h1>
                    </label>
                </div>
            </form>
        </div>
        <link th:href="@{/static/helpDesk/css/style.css}" rel="stylesheet"/>
    </body>
</html> 
