<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Ticket</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <form th:if="${#httpServletRequest.remoteUser}" style="width: 100%; text-align: left;color: #292929;background: #efefef; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2)" 
            th:action="@{/logout}" 
            method="post">
            <input class="hidden" type="submit" id="logout"/>
            <label class="button-label" style="width: 20%" for="logout">
                Log out
            </label>
        </form>
        <div class="container"  ng-app="ticketsApp" ng-controller="OverviewController as ctrl">
            <div style="width: 20%; float: left">
                
                <div class="button-wrap">
                    <a class="button-label" style="width: 80%" href="/HelpDesk/ticket/">Ticket list</a>
                </div>
            </div>
            <div style="width: 60%; float: left">
                <h1 style="text-align: center">Ticket ({{id}}) - {{ticket.name}}</h1>
                <div class="label-wrap">
                    <label class="input-label" for="createdOn">  Created on:</label>    
                    <label name="createdOn" id="createdOn" class="my-label">{{ticket.createdOn}}</label>
                </div>
                <div class="label-wrap">
                    <label class="input-label" for="status">  Status:</label>    
                    <label name="status" id="status" class="my-label">{{ticket.status}}</label>
                </div>
                <div class="label-wrap">
                    <label class="input-label" for="category">  Category:</label>    
                    <label name="category" id="category" class="my-label">{{ticket.category}}</label>
                </div>
                <div class="label-wrap">
                    <label class="input-label" for="urgency">  Urgency:</label>    
                    <label name="urgency" id="urgency" class="my-label">{{ticket.urgency}}</label>
                </div>
                <div class="label-wrap">
                    <label class="input-label" for="desiredResolutionDate">  Desired resolution date:</label>    
                    <label name="desiredResolutionDate" id="desiredResolutionDate" class="my-label">{{ticket.desiredDate}}</label>
                </div>
                <div class="label-wrap">
                    <label class="input-label" for="owner">  Owner:</label>    
                    <label name="owner" id="owner" class="my-label">{{ticket.owner}}</label>
                </div>
                <div class="label-wrap">
                    <label class="input-label" for="approver">  Approver:</label>    
                    <label name="approver" id="approver" class="my-label">{{ticket.approver}}</label>
                </div>
                <div class="label-wrap">
                    <label class="input-label" for="assignee">  Assignee:</label>    
                    <label name="assignee" id="assignee" class="my-label">{{ticket.assignee}}</label>
                </div>
                <div class="label-wrap">
                    <label class="input-label" for="attachments">  Attachments:</label>    
                    <label name="attachments" id="attachments" class="my-div my-div-color">
                        <div ng-repeat="attachment in ticket.attachments">
                            <a href="/HelpDesk/api/ticket/{{id}}/attachment/{{attachment.id}}" target="blank" download="{{attachment.name}}">
                                {{attachment.name}}
                            </a>
                        </div>
                    </label>
                </div>
                <div class="label-wrap">
                    <label class="input-label" for="description">  Description:</label>    
                    <label name="description" id="description" class="my-div my-div-color">{{ticket.description}}</label>
                </div>
            </div>
            <div style="width: 20%; float: right">
                <div class="button-wrap" ng-show="ticket.edit">
                    <a href="{{'/HelpDesk/ticket/' + id + '/edit'}}" class="button-label" for="new-button">
                        <h1>Edit</h1>
                    </a>
                </div>
                <div class="button-wrap" ng-show="ticket.leaveFeedback">
                    <a href="{{'/HelpDesk/ticket/' + id + '/feedback'}}" class="button-label" for="new-button">
                        <h1>Leave feedback</h1>
                    </a>
                </div>
                <div class="button-wrap" ng-show="ticket.viewFeedback">
                    <a href="{{'/HelpDesk/ticket/' + id + '/feedback'}}" class="button-label" for="new-button">
                        <h1>Feedback</h1>
                    </a>
                </div>
                <!-- ADD TH IF !!!!! -->
            </div>
            <div style="width: 100%">
                <div class="button-wrap">
                    <input class="hidden radio-label" type="radio" value="history" id="history-button" checked="checked" ng-model="tableType"/>

                    <label class="button-label" for="history-button">

                      <h1>History</h1>

                    </label>

                    <input class="hidden radio-label" type="radio" value="comments" id="comments-button" ng-model="tableType"/>

                    <label class="button-label" for="comments-button">

                        <h1>Comments</h1>

                    </label>
                 
                </div>
                    
                <span ng-show="tableType == 'history'">

                    <u ng-click="fullHistory()">Show all</u>

                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td><a>Date</a></td>
                                <td><a>User</a></td>
                                <td><a>Action</a></td>
                                <td><a>Description</a></td>

                        </thead>
                        <tbody>
                            <tr ng-repeat="history in ticket.history"> 
                                <td>{{history.date}}</td>
                                <td>{{history.user}}</td>
                                <td>{{history.action}}</td>
                                <td>{{history.description}}</td>
                            </tr>
                        </tbody>
                    </table>
                </span>

                <span ng-show="tableType == 'comments'">

                    <u ng-click="fullComments()">Show all</u>

                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td><a>Date</a></td>
                                <td><a>User</a></td>
                                <td><a>Comment</a></td>

                        </thead>
                        <tbody>
                            <tr ng-repeat="comment in ticket.comments">
                                <td>{{comment.date}}</td>
                                <td>{{comment.user}}</td>
                                <td>{{comment.text}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div class="input-wrap">
                        <form name="commentForm">
                        <label class="input-label" for="comment">  Comment:</label>
                            <div class="my-div">
                                <textarea name="comment" id="comment" 
                                          class="my-input" style="width: 100%" 
                                          ng-model="comment.text" 
                                          ng-pattern="textPattern" required></textarea>
                            </div>
                        </form>
                        <input class="hidden" type="button" id="submit" ng-click="addComment()"/>
                        <label class="button-label" ng-show="commentForm.$valid" for="submit" style="width: 10%">
                            <h1>Add comment</h1>
                        </label>
                    </div>
                    
                </span>
                
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>   
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css"/>
        <script type="text/javascript" th:src="@{/static/helpDesk/js/app.js}"> </script>
        <script type="text/javascript" th:src="@{/static/helpDesk/js/controllers/overview-controller.js}"> </script>
        <script type="text/javascript" th:src="@{/static/helpDesk/js/service/ticket-service.js}"> </script>
        <script type="text/javascript" th:src="@{/static/helpDesk/js/service/url-service.js}"> </script>
        <link th:href="@{/static/helpDesk/css/style.css}" rel="stylesheet"/>
    </body>
</html>
