<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{greeting(${reciever})}">
            Dear somebody,
        </p>
        <div th:with="link=#{url(${id})}, 
             property='message.'+ ${state}, 
             stateLow=${#strings.toLowerCase(state)}">
            <div th:with="message=#{${property}(${link})}">
                <div th:if="${message[0]} == '?'">       
                    <p th:utext="#{message.standart(${link}, ${stateLow},${role})}">
                        default massage (there is not any properties with such name)
                    </p>       
                </div>
                <div th:unless="${message[0]}=='?'">       
                    <p th:utext="${message}">
                        custom message
                    </p>       
                </div>
            </div>
        </div>
        <p th:if="${state} == 'Done'">
            Please provide your feedback clicking on the ticket ID.
        </p>
    </body>
</html>
