@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);
* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
}

.login-container{
    width: 50%;
    margin-left: 3%;
}

.button-wrap {
  text-align: right;
  width: 100%;
}

.input-wrap {
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
}

.login-input-wrap {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
  text-align: right;
}

.label-wrap {
  width: 100%;
  text-align: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show {
    display:block;
}

.my-input{
  height: 2.5em;
  width: 60%;
  border-radius: 0.25em;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.22);
  color: #292929;
  background: #efefef;
  text-align: left;
}

.my-label{
  width: 60%;
  text-align: left;
}

.my-div{
  width: 60%;
  display: inline-block;
  border-radius: 0.25em;
  text-align: left;
}

.my-div-color{
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.22);
  color: #292929;
  background: #efefef;
}

.button-label {
  display: inline-block;
  margin: 0.5em;
  height: 4em;
  width: 47.5%;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
  background: #2ECC71;
  color: #efefef;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fa-button{
  border-radius: 0em;
  background: #2ECC71;
  color: #efefef;
}

.button-label h1 {
  font-size: 1em;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.input-label{
  font-size: 1em;
  font-family: "Lato", sans-serif;
  margin-right: 4%;
}

.button-label:hover {
  background: #29b765;
  color: #e2e2e2;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
}
.button-label:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
}

.star{
    font-size: 110px;
    color: yellow;
}

#all-button:not(:checked) + .button-label {
  color: #292929;
  background: #efefef;
}
#all-button:not(:checked) + .button-label:hover {
  background: #d6d6d6;
  color: #101010
}

#my-button:not(:checked) + .button-label {
  color: #292929;
  background: #efefef;
}
#my-button:not(:checked) + .button-label:hover {
  background: #d6d6d6;
  color: #101010;
}

#history-button:not(:checked) + .button-label {
  color: #292929;
  background: #efefef;
}
#history-button:not(:checked) + .button-label:hover {
  background: #d6d6d6;
  color: #101010;
}

#comments-button:not(:checked) + .button-label {
  color: #292929;
  background: #efefef;
}
#comments-button:not(:checked) + .button-label:hover {
  background: #d6d6d6;
  color: #101010;
}

.hidden {
  display: none;
}

input.ng-valid {
    color:#2ECC71;
}

input.ng-invalid {
    color:#8e0909;
}

textarea.ng-valid {
    color:#2ECC71;
}

textarea.ng-invalid {
    color:#8e0909;
}